.container-escolha4 {
    margin: auto;
    text-align: center;
    max-width: 800px;
    display: none;
}
.hora-escolha {
    background-color: gray;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    color: black;
    text-decoration: line-through;
    margin: 10px;
    padding: 8px;
    cursor: pointer;
}
div#escolhas {
    width: 440px;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
}
div#escolhas > h4 {
    margin: 5px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    font-size: 1.5rem;
}
div#escolhas > p {
    margin: 10px;
    margin-top: 25px;
    padding-left: 5px;
    color: black;
    font-size: 1.2rem;
}
p#escolha3 {
    text-align: center;
}
button#confirmar {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100px;
    height: 80px;
    border: 2px solid black;
    border-radius: 10px;
}