.container-escolha2 {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 100%;
    min-height: 30px;
    overflow: hidden;
    margin: auto;
}
div#cabeleleiro-escolha {
    display: flex;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
.escolha-cabe {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;   
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
}
.escolha-cabe > img {
    width: 100%;
    height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.escolha-cabetxt {
    background-color: transparent;
    color: black;
    width: 287px;
    height: 35px;
    padding: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
}    
button#anterior-cabe {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}
button#posterior-cabe {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}