@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Jersey+10&display=swap');
:root {
    --fonte-padrao: "Moderustic", sans-serif;
    --fonte-titulo: "Baskervville SC", serif;
    --fonte-destaque: "Jersey 10", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
html {
    font-family: var(--fonte-padrao)
}
header {
    background-color: black;
}

div#navegadores{
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 99%;
    height: 35px;
    z-index: 50;
    transform: translate(0);
}
div#logo-p > p{
    align-items: center;
    display: inline-block;
    font-size: 1.3rem;
}
nav {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 35px;
    z-index: 50;
    transform: translate(0);
}
nav > a{
    text-decoration: none;
    margin: 10px;
    color: rgb(185, 183, 183);
}
nav > a#pg-atual{
    color: white;
    font-weight: bold;
}
nav > a:hover{
    color: white;
}
div#logo-g{
    text-align: center;
}
main > h1 {
    text-align: center;
    font-size: 5rem;
    font-family: var(--fonte-destaque);
    font-weight: 400;
    font-style: normal;
}
.repartição {
    margin-top: 35px;
    border-bottom: 20px solid white;
}
section {
    background-color: black;
    color: white;
}
section > h3 {
    font-size: 2.5rem;
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 10px;
}
.container-escolha1 {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 100%;
    min-height: 30px;
    overflow: hidden;
    margin: auto;
}
div#serviço-escolha {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}
.escolha > img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.escolha {
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    flex: 0 0 47.5%;
    margin-right: 20px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    
}
.escolhatxt {
    background-color: transparent;
    color: black;
    width: 250px;
    height: 30px;
    padding: 5px;
    position: absolute;
    display: block;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    
}
@media (max-width: 610px) {
    .escolhatxt {
        height: 22px;
        width: 211px;
    }
}
button#anterior {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}
button#posterior {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}
div#escolhas {
    width: 440px;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
}
div#escolhas > h4 {
    margin: 5px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    font-size: 1.5rem;
}
div#escolhas > p {
    margin: 10px;
    margin-top: 25px;
    padding-left: 5px;
    color: black;
    font-size: 1.2rem;
}
p#escolha3 {
    text-align: center;
}
button#confirmar {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    width: 120px;
    height: 80px;
    border: 2px solid gray;
    border-radius: 20px;
    cursor: pointer;
}
button#confirmar:hover {
    border: 2px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
}
footer {
    padding: 50px;
    text-align: center;
    background-color: black;
}
footer > p {
    font-size: 0.8rem;
    color: white;
}