@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Jersey+10&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: "Moderustic", sans-serif;
}
body {
    background-color: gray;
}
body > h1 {
    text-align: center;
    margin-top: 50px;
    font-family: "Baskervville SC", serif;
    color: white;
}
main {
    background-color: white;
    width: 450px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
    padding-top: 8px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.332);
    position: relative;
}
main > h1 {
    text-align: center;
    font-size: 1.8rem;
    margin: 10px;
    font-family: "Baskervville SC", serif;
}
main > h3 {
    margin: 15px;
    font-size: 1.3rem;
}
main > input {
    width: 350px;
    height: 40px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid lightgray;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: bold;
}
main > input:hover {
    border: 1px solid black;
}
main > input::placeholder {
    font-size: 1rem;
    font-weight: normal;
}
main > p {
    color: lightslategray;
    font-size: 0.8rem;
    margin: 10px 0px 20px 15px;
    display: none;
}
main > input#recuperar {
    width: 150px;
    margin-top: 15px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    background-color: rgba(0, 255, 123, 0.847);
    cursor: pointer;
}
main > input#recuperar:hover{
    border: 1px solid black;
}

main > input#cancelar {
    width: 150px;
    margin: 15px;
    position: absolute;
    right: 160px;
    margin-right: 10px;
    cursor: pointer;
}
main > input#cancelar:hover{
    border: 1px solid black;
}
